*{
    margin: 0;
}

.bodyy{

    position: relative;
    width: 310px;
    height: 1024px;
}

.pfp{
    position: relative;
    width: 222px;
    height: 294px;
    left: -38px;
    top: 24px;
    margin-top: 10px;
    background: url(IMG_1894.jpg);
    border-radius: 135px;
    margin-left: 5em;
}

.board{
    position: absolute;
    width: 310px;
    height: 1024px;
    left: -1px;
    top: 0px;
    background: #3CB9FF;
}

.profile{
    margin-left: 80px;
    width: 147px;
    height: 93px;
    left: 125px;
    top: 335px;
    margin-top: 20px;
    font-family: Fauna One;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
    text-decoration-line: underline;
    color: #000000;
}

.Lorem{
    position: absolute;
    width: 290px;
    height: 183px;
    left: -3px;
    top: 392px;
    margin-left: 20px;
    font-family: Lohit Devanagari;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 37px;
    color: #000000;


}

.Langues{
    position: absolute;
    width: 179px;
    height: 38px;
    left: 90px;
    top: 600px;
    margin-left: -25px;
    font-family: Fauna One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;
    color: #000000;
}


.Ipsum{
    position: absolute;
    width: 280px;
    height: 242px;
    left: -3px;
    top: 661px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: Lohit Devanagari;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 39px;
    color: #000000;
}

.nom{
    position: absolute;
    width: 500px;
    height: 67px;
    left: 440px;
    top: 32px;
    font-family: Convergence;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    color: #000000;


}

.experience{
    position: absolute;
    width: 500px;
    height: 44px;
    left: 440px;
    top: 119px;
    margin-top: 10px;
    font-family: Fauna One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 41px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8);

}

.entreprise1{
    position: absolute;
    width: 650px;
    height: 52px;
    left: 440px;
    top: 182px;
    margin-top: 10px;
    font-family: Fasthand;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 48px;
    color: #000000;
    opacity: 0.8;
}

.li1{
    position: absolute;
    width: 512px;
    height: 140px;
    left: 469px;
    top: 234px;
    margin-top: 10px;
    font-family: Lohit Devanagari;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 35px;
    color: #000000;
}

.entreprise2{
    position: absolute;
    width: 650px;
    height: 50px;
    left: 440px;
    top: 381px;
    margin-top: 10px;
    font-family: Fasthand;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 48px;
    color: #000000;
    opacity: 0.8;
}

.li2{
    position: absolute;
    width: 512px;
    height: 143.97px;
    left: 469px;
    top: 431px;
    margin-top: 10px;
    font-family: Lohit Devanagari;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 35px;
    color: #000000;
}

.formation{
    position: absolute;
    width: 202px;
    height: 50px;
    left: 711px;
    top: 575px;
    font-family: Fauna One;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 41px;
    text-decoration-line: underline;
    color: #000000;
    opacity: 0.82;
}

.ecole{
    position: absolute;
    width: 500px;
    height: 49px;
    left: 465px;
    top: 625px;
    margin-top: 10px;
    font-family: Fasthand;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 54px;
    color: #000000;
    opacity: 0.8;
}

.lorem2{
    position: absolute;
    width: 500px;
    height: 78px;
    left: 469px;
    top: 683px;
    margin-top: 10px;
    font-family: Lohit Devanagari;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 41px;
    color: #000000;
}

.universite{
    position: absolute;
    width: 500px;
    height: 50px;
    left: 469px;
    top: 774px;
    margin-top: 10px;
    font-family: Fasthand;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 54px;
    color: #000000;
    opacity: 0.8
}

.lorem3{
    position: absolute;
    width: 500px;
    height: 85px;
    left: 469px;
    top: 835px;
    margin-top: 10px;
    font-family: Lohit Devanagari;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 41px;
    color: #000000;
}

.facebook{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 474px;
    top: 937px;
    background: url(facebook.png);
}

.github{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 563px;
    top: 936px;
    background: url(github-image.png);
}

.email{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 661px;
    top: 936px;
    background: url(arroba.png);
}

@media screen and (max-width: 1037px){
    body{
        background-color: #ffe1f8;
    }
    
    .nom,
    .experience,
    .entreprise1,
    .entreprise2,
    .formation,
    .ecole,
    .universite
    {
        left: 10px;
    }
    .li1,
    .li2
    {
        left: 20px;
    }
    .lorem2,
    .lorem3
    {
        left: 20px;
    }
    .board{
        top: 930px;
        width: 100vw;
        background-color:  #3CB9FF;
    }
    .facebook{
        top: 1850px;
        left: 20px;
        
    }
    .github{
        top: 1850px;
        left: 105px;
    }
    .email{
        top: 1850px;
        left: 190px;
    }
    
}

@media screen and (max-width:661px){
    .nom{
       left: 10px;
        font-size: 50px;
    }
    .experience{
        left: 10px;
        font-size: 26px;
        width: 500px;
        margin-top: 0%;
    }
    .formation
    {
        left: 10px;
        font-size: 25px;
    }
    .entreprise1,
    .entreprise2
    {
        left: 10px;
        font-size: 20px;
        width: 500px;
    }
    .li1,
    .li2
    {
        left: 30px;
        font-size: 18px;
    }
    .lorem2,
    .lorem3
    {
        left: 10px;
        font-size: 18px;
    }
    
    .ecole{
        left: 10px;
        font-size: 20px;
    }
    .universite    
    {
        left: 10px;
        font-size: 20px;
    }
    .pfp{
        margin-left: 10% ;
        margin-top: 2%;
    }
    .profile{
       margin-left: 25px;
       margin-top: 5%;
    }
    .Lorem{
        font-size: 20px;
        margin-left: 3%;
        margin-top: 2%;
    }
    .Langues{
        margin-left: -12%;
    }
    .Ipsum{
        margin-left: 3%;
        font-size: 20px;
    }

}

@media screen and (max-width:450px){
    body{
        text-align: center;
    }
    
    .nom{
        margin-left: 5%;
        font-size: 35px;
        width: 350px;
    }
    .experience{
        margin-left: 2%;
        font-size: 20px;
        width: 380px;
    }
    .entreprise1,
    .entreprise2
    {
        font-size: 16px;
        width: 400px;
    }
    .li1,
    .li2
    {
        left: 2%;
        font-size: 16px;
        width: 400px;
    }
    .formation
    {
        margin-left: 32%;
        font-size: 20px;
        width: 100px;
    }
    .lorem2,
    .lorem3
    {
        margin-left: 6%;
        font-size: 16px;
        width: 350px;
    }
    
    .ecole{
        margin-left: 11%;
        font-size: 18px;
        width: 300px;
    }
    .universite    
    {
        font-size: 18px;
        width: 310px;
        margin-left: 8%;
    }
    .pfp{
        margin-left: 18% ;
        margin-top: 2%;
    }
    .profile{
       margin-left: 35%;
       margin-top: 7%;
       font-size: 30px;
       width: 100px;
    }
    .Lorem{
        font-size: 19px;
        margin-left: 14%;
        margin-top: -1%;
        width: 300px;    
    }
    .Langues{
        margin-left: 8%;
        font-size: 30px;
        width: 100px;
        margin-top: -2%;
    }
    .Ipsum{
        margin-left: 11%;
        font-size: 20px;
        width: 320px;
        margin-top: -1%;
    }
    .facebook{
        margin-left: 45px;
    }
    .github{
        margin-left: 65px;
    }
    .email{
        margin-left: 85px;
    }

}
@media screen and (max-width:400px){    
    .nom{
        margin-left: 2%;
        font-size: 30.5px;
        width: 320px;
    }
    .experience{
        margin-left: 1%;
        font-size: 19px;
        width: 350px;
    }
    .entreprise1,
    .entreprise2
    {
        margin-left: -2%;
        font-size: 14px;
        width: 370px;
        margin-top: 1%;
    }
    .li1,
    .li2
    {
        margin-left: 1%;
        font-size: 14px;
        width: 350px;
    }
    .formation
    {
        margin-left: 35%;
        font-size: 20px;
    }
    .lorem2,
    .lorem3
    {
        margin-left: 0%;
        font-size: 15px;
    }
    
    .ecole{
        margin-left: 8%;
        font-size: 18px;
    }
    .universite    
    {
        margin-left: 7%;
        font-size: 18px;
    }
    .pfp{
        margin-left: 21% ;
        margin-top: 2%;
    }
    .profile{
        margin-left: 32%;
    }
    .Lorem{
        font-size: 16px;
        margin-left: 11%;
    }
    .Langues{
        margin-top: -50px;
        margin-left: 3%;
    }
    .Ipsum{
        margin-top: -60px;
        margin-left: 6%;
        font-size: 17px;
    }
    .facebook{
        margin-left: 40px;
    }
    .github{
        margin-left: 50px;
    }
    .email{
        margin-left: 60px;
    }

}

@media screen and (max-width:338px){
    .nom{
        margin-left: -2%;
        font-size: 30.5px;
        width: 310px;
    }
    .experience{
        font-size: 17px;
        margin-left: -2%;
        width: 310px;
    }
    .entreprise1,
    .entreprise2
    {
        margin-left: -2%;
        font-size: 12.5px;
        width: 310px;
    }
    .li1,
    .li2
    {
        margin-left: -2%;
        font-size: 12.5px;
        width: 310px;
    }
    .formation
    {
        margin-left: 27%;
        font-size: 17px;
    }
    .ecole
    {
        margin-left: -1%;
        font-size: 18px;
    }
    .universite
    {
        margin-left: -3%;
        font-size: 18px;
    }
    .lorem2,
    .lorem3
    {
        margin-left: -2%;
        font-size: 13px;
        width: 310px;
    }
    .pfp{
        margin-left: 23% ;
        margin-top: 2%;
    }
    .profile{
        margin-left: 30%;
    }
    .Lorem{
        font-size: 17px;
        margin-left: 4%;
    }
    .Langues{
        margin-left: -4%;
    }
    .Ipsum{
        font-size: 17px;
        margin-left: -1%;
    }
    .facebook{
        margin-left: 10px;
    }
    .github{
        margin-left: 20px;
    }
    .email{
        margin-left: 30px;
    }
    
}